<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="toaster.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="toaster.Perspective"
            id="toaster.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="toaster.commands.exit"
            name="退出">
      </command>
      <command
            id="toaster.commands.input"
            name="导入">
      </command>
      <command
            id="toaster.commands.create"
            name="新建">
      </command>
      <command
            id="toaster.commands.remove"
            name="移除项目">
      </command>
      <command
            id="toaster.commands.refresh"
            name="刷新">
      </command>
      <command
            id="toaster.commands.newTestFile"
            name="新建测试文件">
      </command>
      <command
            id="toaster.commands.newFolder"
            name="新建文件夹">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="文件">
            <command
                  commandId="toaster.commands.input"
                  icon="icons/import_prj.gif"
                  label="导入"
                  style="push">
            </command>
            <command
                  commandId="toaster.commands.create"
                  label="新建"
                  style="push">
            </command>
            <separator
                  name="toaster.menus.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="toaster.commands.exit"
                  icon="icons/search_rem.gif"
                  label="退出"
                  style="push">
            </command>
         </menu>
         <menu
               id="viewMenu"
               label="视图">
            <command
                  commandId="toaster.commands.showEditor"
                  label="编辑器"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:toaster.views.ProjectsSourceCodeView?after=additions">
         <command
               commandId="toaster.commands.remove"
               icon="icons/delete_edit.gif"
               label="移除项目"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="toaster.sources.Project">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="toaster.commands.refresh"
               icon="icons/refresh.gif"
               label="刷新"
               style="push">
         </command>
         <menu
               icon="icons/add.gif"
               label="新建">
            <command
                  commandId="toaster.commands.newTestFile"
                  icon="icons/newfile_wiz.gif"
                  label="测试文件"
                  style="push">
            </command>
            <command
                  commandId="toaster.commands.newFolder"
                  icon="icons/newfolder_wiz.gif"
                  label="文件夹"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="commands.ExitHandler"
            commandId="toaster.commands.exit">
      </handler>
      <handler
            class="commands.InputHandler"
            commandId="toaster.commands.input">
      </handler>
      <handler
            class="commands.CreateHandler"
            commandId="toaster.commands.create">
      </handler>
      <handler
            class="commands.RemoveProjectHandler"
            commandId="toaster.commands.remove">
      </handler>
      <handler
            class="commands.RefreshHandler"
            commandId="toaster.commands.refresh">
      </handler>
      <handler
            class="commands.NewTestFile"
            commandId="toaster.commands.newTestFile">
      </handler>
      <handler
            class="commands.NewFolderHandler"
            commandId="toaster.commands.newFolder">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="toaster.views.ProjectsSourceCodeView"
            icon="icons/packages.gif"
            id="toaster.views.ProjectsSourceCodeView"
            name="项目"
            restorable="true">
      </view>
      <view
            class="toaster.views.InvocationView"
            icon="icons/call_hierarchy.gif"
            id="toaster.views.InvocationView"
            name="调用"
            restorable="true">
      </view>
      <view
            class="toaster.views.ConsoleView"
            icon="icons/console.gif"
            id="toaster.views.ConsoleView"
            name="控制台"
            restorable="true">
      </view>
      <view
            class="toaster.views.InformationView"
            icon="icons/info_obj.gif"
            id="toaster.views.InformationView"
            name="信息"
            restorable="true">
      </view>
      <view
            class="toaster.views.MemberView"
            icon="icons/icon2.gif"
            id="toaster.views.MemberView"
            name="成员"
            restorable="true">
      </view>
      <view
            class="toaster.views.ToolView"
            icon="icons/news_update.gif"
            id="toaster.views.ToolView"
            name="工具"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="toaster.perspective">
         <view
               closeable="false"
               id="toaster.views.ProjectsSourceCodeView"
               minimized="false"
               moveable="false"
               ratio="0.2f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="toaster.views.ProjectsTestView"
               minimized="false"
               relationship="stack"
               relative="toaster.views.ProjectsSourceCodeView">
         </view>
         <view
               id="toaster.views.InvocationView"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="toaster.views.ProjectsSourceCodeView">
         </view>
         <view
               closeable="false"
               id="toaster.views.ConsoleView"
               minimized="false"
               ratio="0.65"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               id="toaster.views.InformationView"
               minimized="false"
               relationship="stack"
               relative="toaster.views.ConsoleView">
         </view>
         <view
               id="toaster.views.MemberView"
               minimized="false"
               ratio="0.75"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="toaster.views.ToolView"
               minimized="false"
               relationship="stack"
               relative="toaster.views.MemberView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="toaster.editors.SimpleEditor"
            default="true"
            id="org.eclipse.ui.examples.rcp.texteditor.editors.SimpleEditor"
            name="默认编辑器">
      </editor>
      <editor
            class="toaster.editors.XML.XMLEditor"
            default="false"
            extensions="xml,html"
            icon="icons/generic_xml_obj.gif"
            id="toaster.editors.XMLEditor"
            name="XML编辑器">
      </editor>
   </extension>

</plugin>
