<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="toaster.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="toaster.Perspective"
            id="toaster.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            category="toaster.commands.categories.file"
            id="toaster.commands.exit"
            name="退出">
      </command>
      <category
            id="toaster.commands.categories.file"
            name="文件">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="文件">
            <command
                  commandId="toaster.commands.input"
                  label="导入"
                  style="push">
            </command>
            <separator
                  name="toaster.menus.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="toaster.commands.exit"
                  label="退出"
                  style="push">
            </command>
         </menu>
         <menu
               id="viewMenu"
               label="视图">
            <command
                  commandId="toaster.commands.showEditor"
                  label="编辑器"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="commands.ExitHandler"
            commandId="toaster.commands.exit">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="toaster.views.ProjectsView"
            id="toaster.views.ProjectsView"
            name="项目"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="toaster.views.CodeView"
            id="toaster.views.CodeView"
            name="代码"
            restorable="true">
      </view>
      <view
            class="toaster.views.InvocationView"
            id="toaster.views.InvocationView"
            name="调用"
            restorable="true">
      </view>
      <view
            class="toaster.views.ConsoleView"
            id="toaster.views.ConsoleView"
            name="控制台"
            restorable="true">
      </view>
      <view
            class="toaster.views.InformationView"
            id="toaster.views.InformationView"
            name="信息"
            restorable="true">
      </view>
      <view
            class="toaster.views.MemberView"
            id="toaster.views.MemberView"
            name="成员"
            restorable="true">
      </view>
      <view
            class="toaster.views.ToolView"
            id="toaster.views.ToolView"
            name="工具"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="toaster.perspective">
         <view
               closeable="false"
               id="toaster.views.ProjectsView"
               minimized="false"
               moveable="false"
               ratio="0.2f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="toaster.views.InvocationView"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="toaster.views.ProjectsView">
         </view>
         <view
               closeable="false"
               id="toaster.views.ConsoleView"
               minimized="false"
               ratio="0.65"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               id="toaster.views.InformationView"
               minimized="false"
               relationship="stack"
               relative="toaster.views.ConsoleView">
         </view>
         <view
               id="toaster.views.MemberView"
               minimized="false"
               ratio="0.75"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="toaster.views.ToolView"
               minimized="false"
               relationship="stack"
               relative="toaster.views.MemberView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="toaster.editor.CodeEditor"
            default="false"
            id="toaster.editor.CodeEditor"
            name="代码">
      </editor>
   </extension>

</plugin>
